#navbar {
    background-color: rgb(153, 153, 153);
}
#curvious_header {
    font-size: x-large;
    font-family: sans-serif;
   
}
#first_header {
    font-family: cursive;
    
}
#someth {
    margin-bottom: 300px;
}
.h3 {
    font-family: cursive;
}
#hr {
    width: 300px;
    color: rgb(228, 47, 15);
    margin-left: 680px;
    margin-top: 50px;
}
#paragraph {
    text-align: center;
    margin: 100px;
}
#pic-1 {
    width: 400px;
}
#spfied {
    list-style-type: none;
}
#inform-number {
    background-color: rgb(162, 253, 253);
    margin-top: 100px;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding-top: 80px;
    margin-left: 0;
    margin-right: 0;
    height: 300px;
}
#second-main {
    text-align: center;
    margin-top: 100px;
}
#headers {
    text-align: center;
    margin-top: 70px;
}
#icon {
    color: rgb(35, 105, 225);
}
#third-main {
    text-align: center;
    margin-top: 40px;
} 
#pic-2 {
   margin-top: 100px;
}
#for-text {
    color: rgba(255, 255, 255, 0.973);
    margin-top: -900px;
    font-size: 5rem;
    margin-left: 530px;
   font-family: cursive;
}
#to-text {
    color: rgba(255, 255, 255, 0.973);
    margin-top: -750px;
    font-size: 5rem;
    font-family: cursive;
    margin-left: 450px;
}
#pic-neord {
    width: 500px;
    border-radius: 100%;
    margin-left: 850px;
    margin-top: -200px;
}
#second-text {
    margin-top: -1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#image-plane {
    width: 650px;
}
#photo-icon {
    color: rgb(35, 105, 225);
    margin: 20px;
   font-size: 2rem;
}
.first-main {
    border: 1px solid gray;
}
#span-for-text {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#choose-form {
    margin-top: 40px;
}
#larger-icn {
    width: 200px;
} 
#inform-number1 {
    background-color: rgb(243, 246, 247);
    margin-top: 100px;
    color: rgb(2, 33, 32);
    font-size: x-large;
    text-align: center;
    padding-top: 80px;
    margin-left: 0;
    margin-right: 0;
    height: 300px;
}
#mini-ic {
    width: 100px;
}
* {
    box-sizing: border-box;
    
}
.row-1 {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding-left: 30px;
}
.column {
    flex-basis: 25%;
}
.col1 {
    flex-basis: 25%;
    padding: 0 10px;
}
.p {
    text-align: justify;
}
.box {
    border: 1px solid rgb(233, 247, 251) ;
    
    background-color: rgb(241, 251, 251);
}
.box img {
    margin-top: 20px;
}
@media(max-width: 800px) {
    .col, .col1 {
        flex-direction: column;
    }
}
#larger-photo-1 {
    width: 200px;
    border-radius: 100%;
   height: 200px;
}